h2 {
    text-align: center;
    font-size: 25px;
    font-weight: bold;

}

.register-form label {
    display: block;
    margin-bottom: 10px;
    font-weight: 800;
}

.register-form input {

    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 18px;
}

.register-form button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
}

.link-btn {
    display: block;
    text-align: center;
    font-size: 14px;
    margin-top: 16px;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}