main {

    margin: 55px;
    padding: 20%;
    background-image: url("D:/Gestion Bibliotheque/Gestionnaire_Bibliotheque_ENSPY/src/assets/Bibliothèque.jpeg");
    background-size: cover;
    border-radius: 15px;
    margin-top: 5%;
    height: 75vh;
}


@media screen and (min-width: 280px) and (max-width: 1080px) {
    main {
        height: 70vh;
    }
}