main {

    margin: 5px;
    padding: 20%;
    background-image: url("../assets/bio.webp");
    background-size: cover;
    border-radius: 15px;
    
    height: 75vh;
}
main>button{
    width: 200px;
    height: 150px;
    background-color: rgb(235, 96, 46);
    color: white;
    border-radius: 25px;
    margin-top: 3%;
    
    margin-left: -5%;
}
main p{
    font-size: 20px;
    margin-top: -25%; 
}
main :nth-child(2){
    margin-top: 2%;
}
main button :hover{
    background-color: aliceblue;
    transform: scale(1.1);
    opacity: 1;
}
main :nth-child(4){
    width: 200px;
    height: 150px;
    background-color: rgb(235, 96, 46);
    color: white;
    margin-left: 215px;
    

    
    
    
}



@media screen and (min-width: 280px) and (max-width: 1080px) {
    main {
        height: 70vh;
    }
}